<div class="header2">
    <button class="btn_menu">
        <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
        Menu
    </button>
    <h2>{{ titulo }}</h2>
</div>
<div class="container">
    <div class="desflore_table">
        <table class="desflore_table_1">
            <thead class="cabecera-1">
                <th>
                    <button class="agregar">
                        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                    </button>
                    <button class="edit">
                        <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
                    </button>
                </th>
                <th colspan="10"></th>
                <th>
                    <button class="delete">
                        <i class="fa-solid fa-x" style="color: #ffffff;"></i>
                    </button>
                </th>
            </thead>
            <thead class="cabecera-2">
                <tr>
                    <th scope="col">SEMANA</th>
                    <th scope="col">FECHA FLORACION</th>
                    <th scope="col">RETIRO FLOR</th>
                    <th scope="col">CANTIDAD SECTOR 1</th>
                    <th scope="col">CANTIDAD SECTOR 2</th>
                    <th scope="col">CANTIDAD SECTOR 3</th>
                    <th scope="col">CANTIDAD SECTOR 8</th>
                    <th scope="col">ORGANICO</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">CONTRATISTA</th>
                    <th scope="col">COSECHA</th>
                    <th scope="col">GAVETAS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>35</td>
                    <td>2/9/2023</td>
                    <td>5/9/2023</td>
                    <td>12</td>
                    <td>12</td>
                    <td>22</td>
                    <td>23</td>
                    <td>14</td>
                    <td>83</td>
                    <td>Willam Ontan</td>
                    <td>20/9/2023</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>2/9/2023</td>
                    <td>5/9/2023</td>
                    <td>12</td>
                    <td>12</td>
                    <td>22</td>
                    <td>23</td>
                    <td>14</td>
                    <td>83</td>
                    <td>Willam Ontan</td>
                    <td>20/9/2023</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>2/9/2023</td>
                    <td>5/9/2023</td>
                    <td>12</td>
                    <td>12</td>
                    <td>22</td>
                    <td>23</td>
                    <td>14</td>
                    <td>83</td>
                    <td>Willam Ontan</td>
                    <td>20/9/2023</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>2/9/2023</td>
                    <td>5/9/2023</td>
                    <td>12</td>
                    <td>12</td>
                    <td>22</td>
                    <td>23</td>
                    <td>14</td>
                    <td>83</td>
                    <td>Willam Ontan</td>
                    <td>20/9/2023</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>2/9/2023</td>
                    <td>5/9/2023</td>
                    <td>12</td>
                    <td>12</td>
                    <td>22</td>
                    <td>23</td>
                    <td>14</td>
                    <td>83</td>
                    <td>Willam Ontan</td>
                    <td>20/9/2023</td>
                    <td>5</td>
                </tr>
            </tbody>
            <tfoot class="table_foot">
                <tr>
                    <td colspan="2">TOTAL FRUTA: </td>
                    <td>398</td>
                    <td colspan="9"></td>
                </tr>
                <tr>
                    <td colspan="2">N GAVETAS: </td>
                    <td>22</td>
                    <td colspan="9"></td>
                </tr>

            </tfoot>
        </table>
    </div>
</div>
