.header2{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}
button.btn_menu{
    background-color: #A70840;
    border: #A70840;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
}
h2{
    background-color: #A70840;
    color: white;
    text-align: center;
    padding-top: 1%;
    width: 100%;
    height: 50px;
    margin: 0%;
}
.container{
    display: flexbox;
    position: relative;
}
.desflore_table{
    position: relative;
    height: 100%;
    width: 100%;
}
table.desflore_table_1{
    margin-top: 50px;
}
thead.cabecera-1{
    background-color: #3F6A25;
    height: 50px;
}
thead.cabecera-2{
    background-color: #DADADA;
    text-align: center;
    height: 55px;
}
tfoot.table_foot{
    background-color: #3F6A25;
    color: white;
}
button.agregar{
    background-color: #3F6A25;
    border-color: #3F6A25;
}
button.edit{
    background-color: #3F6A25;
    border-color: #3F6A25;
}
button.delete{
    background-color: #3F6A25;
    border-color: #3F6A25;
}